.sokoni-accommodation-child,
.sokoni-accommodation-item {
  position: absolute;
  top: 0;
  left: 273px;
  background-color: var(--color-gray-400);
  width: 1647px;
  height: 100vh;
}
.sokoni-accommodation-item {
  left: 0;
  background-color: var(--color-darkorange);
  width: 375px;
}
.watalii-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 273px;
  height: 269px;
}
.home1,
.services1 {
  position: absolute;
  top: 71px;
  left: 817px;
  font-size: var(--font-size-smi);
  line-height: 100%;
  font-weight: 500;
  color: var(--color-darkorange);
  cursor: pointer;
}
.services1 {
  left: 1106px;
}
.sneha-cecil-yucizaievj8-unspla-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 100vh;
  object-fit: cover;
  opacity: 0.39;
}
.contact-us1,
.my-bureau1 {
  position: absolute;
  top: 71px;
  font-size: var(--font-size-smi);
  line-height: 100%;
  font-weight: 500;
  color: var(--color-darkorange);
}
.my-bureau1 {
  left: 950px;
  cursor: pointer;
}
.contact-us1 {
  left: 1226px;
}
.sokoni2 {
  position: absolute;
  top: 377px;
  left: 20px;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.05em;
  font-weight: 600;
  display: inline-block;
  width: 344px;
  height: 205px;
  cursor: pointer;
}
.my-wallet1 {
  top: 535px;
  font-weight: 500;
}
.my-wallet1,
.sokoni3,
.transaction-history1 {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.transaction-history1 {
  top: 617px;
  font-weight: 500;
}
.sokoni3 {
  top: 576px;
  color: var(--color-dimgray-200);
}
.op-1-icon1 {
  position: absolute;
  top: 84px;
  left: 30px;
  border-radius: var(--br-40xl);
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.sokoni-accommodation-inner,
.watalii-3-icon1 {
  position: absolute;
  top: 364px;
  left: 856px;
  width: 2.95px;
  height: 276.01px;
}
.watalii-3-icon1 {
  top: 41px;
  left: 1784px;
  border-radius: var(--br-266xl);
  width: 84px;
  height: 82.77px;
  object-fit: cover;
}
.travel-packages1 {
  position: absolute;
  top: 422px;
  left: 493px;
  font-weight: 500;
  color: var(--color-gray-200);
  cursor: pointer;
}
.recommended-areas1 {
  top: 473px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.accommodation1,
.ask1,
.recommended-areas1,
.transport1 {
  position: absolute;
  left: 493px;
  cursor: pointer;
}
.transport1 {
  top: 524px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.accommodation1,
.ask1 {
  top: 575px;
}
.ask1 {
  top: 626px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.sokoni-accommodation-child1 {
  position: absolute;
  top: 279px;
  left: 1161px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 531px;
  height: 524px;
  opacity: 0.48;
}
.fluentchat-20-regular1,
.icround-refresh-icon1 {
  position: absolute;
  top: 288px;
  left: 1649px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.fluentchat-20-regular1 {
  top: 385px;
  left: 1513px;
  width: 20px;
  height: 20px;
}
.transport2 {
  position: absolute;
  top: 474px;
  left: 1295px;
  font-weight: 500;
  cursor: pointer;
}
.sokoni-accommodation-child2 {
  position: absolute;
  top: 468px;
  left: 1260px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-400);
  width: 354px;
  height: 47px;
}
.icon-parkdown {
  position: absolute;
  top: 476px;
  left: 1565px;
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.type {
  position: absolute;
  top: 477px;
  left: 1295px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkgray);
  opacity: 0.81;
  cursor: pointer;
}
.sokoni-accommodation-child3 {
  position: absolute;
  top: 537px;
  left: 1263px;
  border-radius: var(--br-6xs);
  background-color: var(--color-firebrick);
  width: 354px;
  height: 47px;
}
.icon-parkdown1 {
  position: absolute;
  top: 546px;
  left: 1568px;
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.request {
  position: absolute;
  top: 545px;
  left: 1384px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  opacity: 0.81;
  cursor: pointer;
}
.sokoni-accommodation {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
